<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         cacheResult="false"
         verbose="true">
  <testsuites>
    <testsuite name="Configuration Manager Tests">
      <directory suffix="_tests.php">configuration_manager</directory>
    </testsuite>
  </testsuites>
</phpunit>