<!-- phpunit Test Execution Configuration 
This configuration contains the test suites to be ran and passed before a Release build should be executed.

Logging options have been configured for Jenkins to interpret test results before continuing.

-->

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         cacheResult="false"
         verbose="true">


  <testsuites>
    <testsuite name="Configuration Manager">
      <file>configuration_manager/config_manager_tests.php</file>
    </testsuite>
  </testsuites>



  <logging>
    <junit outputFile="logs/junit.xml"/>
  </logging>
</phpunit>